{% extends('base.html.twig') %}

{% block body %}
    <!-- A home page üdvözlő szövege -->
    <div class="text-center" style="padding-top:80px">
        <h1>Üdvözöllek az oldalon!</h1>
        <p style="font-size:20px">Kérdéseidet a Kapcsolat menüpontra kattintva teheted fel.</p>
    </div>
{% endblock %}